:root {
  --bg: #ffffff;
  --elementbg: #f0f5f8;
  --primary: #0a60e5;
  --secondary: #7c838b;
}

body {
  margin: 1vw;
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

.SlideStrip {
  float: left;
  width: 10vw;
  height: calc(92vh - 2vw);
  background-color: var(--elementbg);
  border-radius: 1vw;
  padding-top: 8vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.SlideStrip::-webkit-scrollbar {
  width: 0px;
}

.SlideStrip > div {
  border: 0px solid red;
  width: 10vw;
  height: 9.3vh;
  cursor: pointer;
  padding-top: .6vh;
}

.SlideStrip > div > div {
  height: calc(78vh - 2vw);
  width: calc((78vh - 2vw) * 1.78);
  transform: scale(.115);
  transform-origin: top left;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border-radius: 3vw;
  margin-left: 2vw;
  pointer-events: none;
}

.SlideStrip > div > p {
  float: left;
  margin-top: 3.5vh;
  width: 1.9vw;
  text-align: center;
  color: var(--secondary);
  font-weight: 600;
  font-size: small;
}

.SlideStrip > .selectedSlide {
  background-color: #d1dff1;
  border-left: 2px solid var(--primary);
  width: calc(10vw - 2px);
}

.SlideStrip > .selectedSlide > p {
  color: var(--primary);
  font-weight: 800;
}

.SlideStrip > .selectedSlide > div {
  border: 12px solid var(--primary);
  margin-left: calc(2vw - 2px);
}

.SlidesLogo {
  position: absolute;
  z-index: 1;
  margin-top: -8vh;
  background-image: linear-gradient(var(--elementbg), var(--elementbg), var(--elementbg), transparent);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.SlidesLogo > img {
  width: 2vw;
  margin-left: 4vw;
  margin-top: 1vh;
}

.SlidesAdd {
  position: absolute;
  top: calc(92vh - 2vw);
  height: 10vh;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  background-image: linear-gradient(transparent, var(--elementbg), var(--elementbg), var(--elementbg));
}

.SlidesAdd > button {
  width: 3vw;
  height: 3vw;
  margin-left: 3.5vw;
  margin-top: 1vh;
  border-radius: 5vw;
  border: 0px solid black;
  background-color: var(--primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  cursor: pointer;
  color: var(--bg);
  font-size: 2vw;
}

.SlidesAdd > button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.SlideStrip > div:nth-of-type(1), .SlideStrip > div:nth-last-of-type(1), .SlideStrip > div:nth-last-of-type(2), .SlideStrip > div:nth-last-of-type(3) {
  cursor: default;
}

.MenuBar {
  height: 10vh;
  width: calc((78vh - .9vw) * 1.78);
  margin-left: 11vw;
}

.SlideEditor {
  height: calc(78vh - 2vw);
  width: calc((78vh - 2vw) * 1.78);
  padding: 1vw;
  margin-left: 11vw;
  background-color: var(--elementbg);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.SlideEditor > div {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.SlideEditor > div > textarea, .SlideStrip > div > div > p {
  position: absolute;
  resize: none;
  border: 0px solid black;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  white-space: pre-line;
  font-size: 18pt;
  padding: .2vw;
}

.SlideEditor > div > textarea:disabled, .SlideStrip > div > div > p:disabled {
  color: red;
}

.selectedElement {
  border: 2px dashed var(--primary) !important;
  z-index: 999;
}

.editingElement {
  border: 2px dashed var(--primary) !important;
  z-index: 999;
  user-select: none;
  cursor: text !important;
}

.ToolBar {
  height: calc(12vh - 2vw);
  width: calc((78vh - .9vw) * 1.78);
  margin-left: 11vw;
  background-color: var(--elementbg);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.ToolBar > div {
  float: left;
  margin-top: .6vh;
  margin-left: 1vw;
  width: 5vh;
  height: 5vh;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: .5vw;
  cursor: pointer;
}

.ToolBar > div > img {
  width: 2.5vh;
  height: 2.5vh;
  margin-left: 1.25vh;
  margin-top: 1.25vh;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.ToolBar > div:hover {
  box-sizing: border-box;
  border: 2px solid var(--primary);
}

.ToolBar > div:hover > img {
  filter: invert(23%) sepia(93%) saturate(2345%) hue-rotate(210deg) brightness(95%) contrast(96%);
  margin-left: calc(1.25vh - 2px);
  margin-top: calc(1.25vh - 2px);
}

.ToolBar > div:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.ElementSettings {
  float: right;
  height: calc(100vh - 2vw);
  width: calc(98vw - 12vw - ((78vh - .9vw) * 1.78));
  border-radius: 1vw;
  background-color: var(--elementbg);
}
