:root {
  --bg: #ffffff;
  --elementbg: #f0f5f8;
  --primary: #0a60e5;
  --secondary: #7c838b;
  --accent: #b1b6b9;
}

body {
  margin: 1vw;
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

.SlideStrip {
  float: left;
  width: 10vw;
  height: calc(92vh - 2vw);
  background-color: var(--elementbg);
  border-radius: 1vw;
  padding-top: 4vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  outline: none;
  user-select: none;
}

.SlideStrip::-webkit-scrollbar {
  width: 0px;
}

.SlideStrip>div {
  width: 10vw;
  height: 4.75vw;
  cursor: pointer;
  padding-top: .3vw;
}

.SlideStrip>div>div {
  height: 37vw;
  width: calc(37vw * 1.78);
  transform: scale(.115);
  transform-origin: top left;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border-radius: 3vw;
  margin-left: 2vw;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
}

.SlideStrip>div>p {
  float: left;
  margin-top: 1.75vw;
  width: 1.9vw;
  text-align: center;
  color: var(--secondary);
  font-weight: 600;
  font-size: small;
}

.SlideStrip>.selectedSlide {
  background-color: #d1dff1;
  border-left: 2px solid var(--primary);
  width: calc(10vw - 2px);
}

.SlideStrip>.selectedSlide>p {
  color: var(--primary);
  font-weight: 800;
}

.SlideStrip>.selectedSlide>div {
  border: 12px solid var(--primary);
  margin-left: calc(2vw - 2px);
}

.SlideStrip>.SlidesArrowUp {
  box-sizing: border-box;
  position: fixed;
  top: 90.5vh;
  margin-left: calc((10vw / 3) - 2.5vw);
  width: 2vw;
  height: 2vw;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: .5vw;
  cursor: pointer;
}

.SlideStrip>.SlidesArrowDown {
  box-sizing: border-box;
  position: fixed;
  top: 90.5vh;
  margin-left: calc(((10vw / 3) * 2) + .5vw);
  width: 2vw;
  height: 2vw;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: .5vw;
  cursor: pointer;
}

.SlideStrip>.SlidesArrowUp>img,
.SlideStrip>.SlidesArrowDown>img {
  box-sizing: border-box;
  position: absolute !important;
  width: 1vw;
  height: 1vw;
  margin-left: .5vw;
  margin-top: .25vw;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.SlideStrip>.SlidesArrowUp:hover,
.SlideStrip>.SlidesArrowDown:hover {
  box-sizing: border-box;
  outline: 2px solid var(--primary);
}

.SlideStrip>.SlidesArrowUp:hover>img,
.SlideStrip>.SlidesArrowDown:hover>img {
  filter: invert(23%) sepia(93%) saturate(2345%) hue-rotate(210deg) brightness(95%) contrast(96%);
}

.SlideStrip>.SlidesArrowUp:active,
.SlideStrip>.SlidesArrowDown:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.SlideStrip>.disabled {
  pointer-events: none;
  background-color: #d8dddf;
}

.SlidesLogo {
  position: fixed;
  z-index: 1;
  margin-top: -4vw;
  background-image: linear-gradient(var(--elementbg), var(--elementbg), var(--elementbg), transparent);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.SlidesLogo>img {
  width: 2vw;
  margin-left: 4vw;
  margin-top: .5vw;
  cursor: pointer;
}

.SlidesAdd {
  position: fixed;
  top: calc(92vh - 2vw + 1px);
  height: 5vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  background-image: linear-gradient(transparent, var(--elementbg), var(--elementbg), var(--elementbg));
}

.SlidesAdd>button {
  width: 3vw;
  height: 3vw;
  margin-left: 3.5vw;
  margin-top: .5vw;
  border-radius: 5vw;
  border: 0px solid black;
  background-color: var(--primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  cursor: pointer;
  color: var(--bg);
  font-size: 2vw;
  outline: none;
}

.SlidesAdd>button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.SlideStrip>div:nth-of-type(1),
.SlideStrip>div:nth-last-of-type(3),
.SlideStrip>div:nth-last-of-type(4),
.SlideStrip>div:nth-last-of-type(5) {
  cursor: default;
}

.MenuBar {
  height: 4vw;
  width: calc((37vw * 1.78) + 2vw);
  margin-left: 11vw;
}

.MenuBar>input {
  background-color: none;
  border: 0px solid black;
  font-size: 1vw;
  width: calc((37vw * 1.78) * .85);
  font-weight: 600;
  color: var(--primary);
  outline: none;
  height: .9vw;
  margin-top: 1.75vw;
  margin-left: 1vw;
  position: absolute;
}

.MenuBar>div {
  float: right;
  margin-top: .5vw;
  margin-right: 1vw;
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: .5vw;
  cursor: pointer;
}

.MenuBar>div>img {
  width: 1.25vw;
  height: 1.25vw;
  margin-left: .625vw;
  margin-top: .625vw;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.MenuBar>div>.loadIcon {
  animation: spin 2s linear infinite;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.MenuBar>div:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.MenuBar>span {
  display: inline-flex;
  color: var(--secondary);
  font-size: .6vw;
  height: 3.5vw;
  margin-left: calc((37vw * 1.78) - 4.5vw);
  align-items: center;
}

.displayNone {
  display: none;
}

.SlideEditor {
  height: 37vw;
  width: calc(37vw * 1.78);
  padding: 1vw;
  margin-left: 11vw;
  background-color: var(--elementbg);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.SlideEditor>div {
  position: relative;
  overflow: hidden;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.SlideEditor>div>textarea,
.SlideStrip>div>div>p,
.PresentationList>div>div>p,
.PresentationPreview>div:nth-of-type(1)>p,
.Present>div>p {
  position: absolute;
  resize: none;
  border: 0px solid black;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  white-space: pre-line;
  padding: .2vw;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
}

.SlideEditor>div>div,
.SlideStrip>div>div>div,
.PresentationList>div>div>div,
.PresentationPreview>div:nth-of-type(1)>div,
.Present>div>div {
  position: absolute;
  resize: none;
  border: 0px solid black;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: .2vw;
}

.SlideEditor>div>img,
.SlideStrip>div>div>img,
.PresentationList>div>div>img,
.PresentationPreview>div:nth-of-type(1)>img,
.Present>div>img {
  position: absolute;
  resize: none;
  border: 0px solid black;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: .2vw;
  object-fit: contain;
  z-index: 1;
}

.movingElement {
  outline: 2px dashed var(--primary) !important;
  outline-offset: -2px;
  z-index: 999;
}

.editingElement {
  outline: 2px dashed var(--primary) !important;
  outline-offset: -2px;
  z-index: 999;
  cursor: text !important;
}

.ToolBar {
  height: 4vw;
  width: calc((37vw * 1.78) + 2vw);
  margin-left: 11vw;
  background-color: var(--elementbg);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.ToolBar>div {
  float: left;
  margin-top: .3vw;
  margin-left: 1vw;
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: .5vw;
  cursor: pointer;
}

.ToolBar>div>img {
  width: 1.25vw;
  height: 1.25vw;
  margin-left: .625vw;
  margin-top: .625vw;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.ToolBar>div:hover {
  box-sizing: border-box;
  outline: 2px solid var(--primary);
}

.ToolBar>div:hover>img {
  filter: invert(23%) sepia(93%) saturate(2345%) hue-rotate(210deg) brightness(95%) contrast(96%);
}

.ToolBar>div:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.ElementSettings {
  float: right;
  height: calc(99vh - 2vw);
  width: calc(98vw - 12vw - (37vw * 1.78) - 2vw);
  border-radius: 1vw;
  background-color: var(--elementbg);
  padding-top: .5vw;
}

.ElementSettings>.settingGroup {
  width: calc((98vw - 12vw - (37vw * 1.78)) - 4vw - 2px);
  border-left: 2px solid var(--primary);
  border-radius: 0vw;
  padding: 1vw;
  padding-bottom: .5vw;
}

.ElementSettings>span {
  display: inline-block;
  color: var(--primary);
  font-weight: 800;
  font-size: .9vw;
  padding: .2vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

.ElementSettings>.settingGroup>input {
  display: inline-block;
  width: 5vw;
  margin: .2vw;
  margin-bottom: .5vw;
  border: 2px solid var(--primary);
  border-radius: .3vw;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}

.ElementSettings>.settingGroup>label {
  display: inline-block;
  min-width: 5%;
  margin-right: 2%;
  margin-left: 4%;
  color: var(--primary);
  font-weight: 800;
  font-size: small;
  text-align: right;
  cursor: e-resize;
}

.ElementSettings>.settingGroup>select {
  margin-left: .3vw;
  margin-bottom: .5vw;
  margin-top: .55vw;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: .3vw;
  width: 5vw;
  text-align: right;
}

.settingGroup>.colorPicker {
  width: 100%;
  height: 5vw;
  margin-bottom: .5vw;
}

.settingGroup>.colorInput {
  margin-bottom: .5vw;
}

.settingGroup>.segmentedControl {
  display: inline-block;
  position: absolute;
  margin-top: .2vw;
  margin-left: .3vw;
}

.settingGroup>.segmentedControl>label>input {
  display: none;
}

.settingGroup>.segmentedControl>label>img {
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
  padding: .1vw;
  cursor: pointer;
}

.settingGroup>.segmentedControl>label>input:checked+img {
  filter: invert(23%) sepia(93%) saturate(2345%) hue-rotate(210deg) brightness(95%) contrast(96%);
}

.settingGroup>.segmentedControl>label>input:active+img {
  filter: invert(23%) sepia(93%) saturate(2345%) hue-rotate(210deg) brightness(95%) contrast(96%);
}

.PresentationPreview {
  float: left;
  width: 48.5vw;
  height: calc(100vh - 2vw);
  background-color: var(--elementbg);
  border-radius: 1vw;
}

.PresentationPreview>div:nth-of-type(1) {
  margin-left: 1vw;
  margin-top: 1vw;
  height: 37vw;
  width: calc(37vw * 1.78);
  transform: scale(.704);
  transform-origin: top left;
  box-shadow: 0 5px 40px rgb(0 0 0 / 0.2);
  border-radius: 1.4vw;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
}

.PresentationPreview>div:nth-of-type(2) {
  margin-top: calc(37vw * .704 + 2vw);
  margin-left: 1vw;
  width: calc(100% - 2vw);
}

.PresentationPreview>div:nth-of-type(2)>div>img {
  width: 1.25vw;
  height: 1.25vw;
  margin-left: .65vw;
  margin-top: .65vw;
  filter: invert(51%) sepia(16%) saturate(190%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.PresentationPreview>div:nth-of-type(2)>div {
  display: inline-block;
  margin-left: 1vw;
  width: 2.5vw;
  height: 2.5vw;
  background-color: var(--bg);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 0.5vw;
  cursor: pointer;
}

.PresentationPreview>div:nth-of-type(2)>.disabled {
  pointer-events: none;
  background-color: #d8dddf;
}

.PresentationPreview>div:nth-of-type(2)>div:active {
  transform: scale(.95);
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}

.PresentationPreview>div:nth-of-type(2)>div:nth-of-type(4) {
  margin-left: calc(100% - 17.5vw);
}

.PresentationList {
  float: right;
  width: 48.5vw;
  height: calc(90vh - 2vw);
}

.PresentationList>div {
  width: 48.5vw;
  height: 7vw;
  margin-bottom: 1vw;
  border-radius: 1vw;
  background-color: var(--elementbg);
  cursor: pointer;
}

.PresentationList>div:active {
  transform: scale(.995);
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}


.PresentationList>div>div {
  margin-left: calc(48.5vw - ((37vw * 1.78) * .15) - .75vw);
  margin-top: calc((7vw - (37vw * .15)) / 2);
  height: 37vw;
  width: calc(37vw * 1.78);
  transform: scale(.15);
  transform-origin: top left;
  box-shadow: 0 5px 40px rgb(0 0 0 / 0.2);
  border-radius: 5vw;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
}

.PresentationList>div>span:nth-of-type(1) {
  position: absolute;
  display: inline-block;
  width: 32vw;
  margin-left: 4vw;
  margin-top: 1.5vw;
  text-align: right;
  color: var(--primary);
  font-size: 1.1vw;
}

.PresentationList>div>span:nth-of-type(2) {
  display: inline-block;
  width: 32vw;
  margin-left: 4vw;
  margin-top: 5vw;
  text-align: right;
  color: var(--secondary);
  font-size: .6vw;
}

.Header {
  float: right;
  width: 48.5vw;
  height: 5vw;
}

.Header>button {
  width: 3vw;
  height: 3vw;
  margin-top: 1vw;
  margin-right: 1vw;
  border-radius: 5vw;
  border: 0px solid black;
  background-color: var(--primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  cursor: pointer;
  color: var(--bg);
  font-size: 2vw;
  outline: none;
  float: right;
}

.Header>button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Header>span:nth-of-type(1) {
  float: left;
  font-size: 2.2vw;
  margin-top: 1.8vw;
  margin-left: 1vw;
  color: var(--primary);
}

.Header>span:nth-of-type(2) {
  float: left;
  font-size: .7vw;
  margin-top: 3.2vw;
  margin-left: .6vw;
  cursor: pointer;
}

.Header>span:nth-of-type(2):active {
  transform: scale(0.98);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgb(70 70 70 / .4);
}

.modal>div {
  width: 30vw;
  margin-left: 35vw;
  margin-top: calc((100vh - 20vw) / 2);
  border-radius: 1vw;
  background-color: var(--elementbg);
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.3);
}

.modal>div>p {
  margin: 1.2vw;
  padding-top: 1.2vw;
  font-size: .9vw;
  color: var(--primary);
  font-weight: 600;
}

.modal>div>button {
  margin-left: .8vw;
  margin-top: .5vw;
  margin-bottom: 1.2vw;
  background-color: var(--bg);
  border: 0px solid black;
  cursor: pointer;
  padding: .4vw;
  width: 4vw;
  font-weight: 600;
  color: var(--primary);
  border-radius: .8vw;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.3);
}

.modal>div>button:first-of-type {
  background-color: var(--primary);
  color: var(--elementbg);
  margin-left: 20vw;
}

.modal>div>button:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Present>div {
  height: 37vw;
  width: calc(37vw * 1.78);
  transform: scale(1.517);
  transform-origin: top left;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.Present>span {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.9vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: rgb(70 70 70 / .1);
  color: var(--primary);
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.Auth>div {
  width: 15vw;
  background-color: var(--elementbg);
  border-radius: 1vw;
  padding: 2vw;
  margin-left: calc((100% - 19vw) / 2);
  margin-top: 3vw;
}

.Auth>div>img {
  width: 2vw;
  margin-left: calc((100% - 2vw) / 2);
  margin-bottom: 1vw;
}

.Auth>div>form>input {
  width: 80%;
  margin-left: calc((100% - .8vw - 80%) / 2);
  margin-top: .8vw;
  background-color: var(--bg);
  border: 2px solid var(--primary);
  border-radius: .6vw;
  padding: .4vw;
  font-size: .8vw;
  outline: none;
}

.Auth>div>form>button {
  width: 30%;
  margin-left: calc((100% - 30%) / 2);
  margin-top: 1vw;
  background-color: var(--primary);
  border: 0px solid black;
  outline: none;
  border-radius: .8vw;
  padding: .6vw;
  color: var(--bg);
  font-weight: 600;
  cursor: pointer;
  font-size: .8vw;
}

.Auth>div>form>button:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.Auth>div>button {
  width: 30%;
  margin-left: calc((100% - 30%) / 2);
  background-color: var(--elementbg);
  outline: none;
  border: 0px solid black;
  text-decoration: underline;
  color: var(--secondary);
  cursor: pointer;
  font-size: .7vw;
}
